@font-face {
    font-family: 'title_font';
    src: url("../Font/Uifont.ttf");
}
@font-face {
    font-family: 'title_font2';
    src: url("../Font/fontall.ttf");
}
@font-face {
    font-family: 'title_font3';
    src: url("../Font/Cin.ttf");
}
@font-face {
    font-family: 'title_fontzw';
    src: url("../Font/star.ttf");
}